
.align-grid{
  display: flex;
  flex-flow: row wrap;
}
.padding-grid{
  padding: 3px 10px;
}
.container{
  width: 80%;
  margin: auto;
  .padding-grid;
  .align-grid;
}
.full-container{
  width: 100%;
  .padding-grid;
  .align-grid;
}
.col{
  .padding-grid;
}
.row{
  width: 100%;
  .align-grid;
}
/*** grid x-large - 4K ***/
@media screen and (min-width: 1981px) {
  .generate-columns(12);
  .generate-columns(@n, @i: 1) when (@i =< @n) {
    .xl@{i} {
      width: (@i * 100% / @n);
      transition-duration: 0.6s;
      .align-grid;
    }
    .generate-columns(@n, (@i + 1));
  }
  .xl-hidden{
    display: none;
  }
  .xl-visible{
    display: block;
  }
}
/*** grid large - desktop ***/
@media screen and (max-width: 1980px ) {
  .generate-columns(12);
  .generate-columns(@n, @i: 1) when (@i =< @n) {
    .l@{i} {
      width: (@i * 100% / @n);
      transition-duration: 0.6s;
      .align-grid;
    }
    .generate-columns(@n, (@i + 1));
  }
  .l-hidden{
    display: none;
  }
  .l-visible{
    display: block;
  }
}
/*** grid medium - tablet ***/
@media screen and (max-width: 1000px) {
  .generate-columns(12);
  .generate-columns(@n, @i: 1) when (@i =< @n) {
    .m@{i} {
      width: (@i * 100% / @n);
      transition-duration: 0.6s;
      .align-grid;
    }
    .generate-columns(@n, (@i + 1));
  }
  .m-hidden{
    display: none;
  }
  .m-visible{
    display: block;
  }
}
/*** grid small - smartphone ***/
@media screen and (max-width: 580px) {
  .generate-columns(12);
  .generate-columns(@n, @i: 1) when (@i =< @n) {
    .s@{i} {
      width: (@i * 100% / @n);
      transition-duration: 0.6s;
      .align-grid;
    }
    .generate-columns(@n, (@i + 1));
  }
  .s-hidden{
    display: none;
  }
  .s-visible{
    display: block;
  }
}
