// out: ../css/style.css, sourcemap: falsede, compress: true
body{
  margin: 0;
  a{
    text-decoration: none;
  }
  font-family: Helvetica;
}
*{
  box-sizing: border-box;
}
@import "../less/colors.less";
@import "../less/grid.less";
@import "../less/helpers.less";

h1, h2, h3, h4, h5, h6{
  width: 100%;
}

/*** components ***/
/** nav **/
.nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    li{
      list-style: none;
      color: white;
    }
  }
  .nav-menu{
    li{
      padding: 25px;
      // border-bottom: 4px solid @transparent;
      transition-duration: 0.9s;
      &:hover{
        // background-color: rgba(0,0,0,0.09);
        // border-bottom:4px solid white;
        transition-duration: 2s;
        box-shadow: inset 0 0 0 120px rgba(0, 0, 0, 0.2);
      }
    }
  }
  .nav-logo{
    li.logo{
      width: 70px;
      padding: 8px;
      img{
        width: 100%;
        object-fit: contain;
      }
    }
  }
}

#nav-mobile{
  width: 300px;
  height: 100%;
  position: fixed;
  top:0;
  left: 0;
  .nav-menu{
    width: 100%;
    padding: 0;
    li{
      list-style: none;
      padding: 25px;
      color: white;
      transition-duration: 0.9s;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &:hover{
        transition-duration: 2s;
        box-shadow: inset 0 0 0 120px rgba(0, 0, 0, 0.2);
      }
    }
  }
}
/** nav **/
/** button **/
.padding-btn{
  padding: 8px 20px;
}
.btn{
  border-radius: 0;
  border: 0px;
  color: white;
  .padding-btn;
  background-color: @blue;
  transition-duration: 1s;
  margin: 5px;
  &:hover{
    // filter: brightness(85%);
    transition-duration: 1s;
    box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0.2);
  }
}
.btn.radius{
  border-radius: 100px;
}
/** button **/
/** input **/
.padding-input{
  padding: 8px 13px;
}
.input{
  background-color: transparent;
  .padding-input;
  border: 1px solid @grey;
  transition: 0.7s;
  margin: 5px;

  &:focus{
    border: 1px solid @blue;
    transition-duration: 0.7s;
  }
}
.input.radius{
  border-radius: 100px;
}
.input-icon{
  background-repeat: no-repeat;
  background-size: 25px;
  padding-left: 40px;
  background-position: 5px;
}
/** input **/
/** notification **/
.padding-notification{
  padding: 5px 8px;
}
.notification{
  background-color: @blue;
  .padding-notification;
  color: white;
  font-size: 12px;
  margin: 5px;
  i{
    cursor: pointer;
  }
}
.notification.transparent{
  color: @grey;
}
.notification.radius{
  border-radius: 100px;
}
/** notification **/
/** cards **/
.padding-card{
  padding: 20px 22px;
}
.card{
  width: 100%;
  background-color: @blue;
  color: @white;
  .card-content{
    .padding-card;
    .card-title{
      text-transform: uppercase;
      font-size: 18px;
    }
    p{
      margin: 10px 0 0 0;
    }
  }
  .card-image{
    width: 100%;
    height: 250px;
    text-align: center;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.5s;
    .card-title{
      font-size: 22px;
      text-transform: uppercase;
    }
  }
  .card-image.hover{
    &:hover{
      box-shadow: inset 0 0 0 400px rgba(0, 0, 0, 0.4);
      transition-duration: 0.9s;
    }
  }
  .card-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .padding-card;
    background-color:rgba(0,0,0,0.4);
    a{
      color: rgba(255, 255, 255, 0.8);
      &:hover{
        color: rgb(255, 255, 255);
      }
    }
  }
}
.card.radius{
  border-radius:10px;
  .card-image{
    border-radius: 10px 10px 0 0;
  }
  .card-footer{
    border-radius: 0px 0px 10px 10px;
  }
}
/** cards **/
/** preloader **/
.progress{
  height:4px;
  background-color: #d9dfdf;
  margin: 5px;
}
.progress.radius{
  border-radius: 100px;
}
.determinate{
  height: 4px;
}
.determinate.radius{
  border-radius: 100px;
}
.indeterminate{
  height:4px;
  animation-name: slideProgress;
  animation-duration: 2.7s; /* durée de l’animation */
  animation-iteration-count: infinite; /* si animation doit se répéter */
}
.indeterminate.radius{
  border-radius: 100px;
}
@keyframes slideProgress {
  from{
    width: 0%;
  }
  to{
    width: 100%;
  }
}
/** preloader **/
/*** components ***/
/*** media query 4K ***/
@media screen and (min-width: 1981px) {
}
/*** media query desktop ***/
@media screen and (max-width: 1980px ) {
  /** nav **/
  .nav{
    ul.nav-menu.nav-menu-desktop{
      display: flex !important;
    }
  }
  .nav{
    ul.nav-menu.nav-menu-mobile{
      display: none !important;
    }
  }
  #nav-mobile{
    display: none;
  }
  /** nav **/
}
/*** media query tablet ***/
@media screen and (max-width: 1000px) {
  /** nav **/
  .nav{
    ul.nav-menu.nav-menu-desktop{
      display: none !important;
    }
  }
  .nav{
    ul.nav-menu.nav-menu-mobile{
      display: flex !important;
    }
  }
  #nav-mobile{
    display: flex;
  }
  /** nav **/
}
/*** media query smartphone ***/
@media screen and (max-width: 580px) {

}
